<div class="module-header">
  <h1>Dashboard</h1>
</div>
<div
  class="content flex-container"
  fxLayout.xl="row"
  fxLayout.lg="row"
  fxLayout.md="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="space-between"
  fxLayoutGap="20px"
  fxLayoutWrap=""
>

  <mat-card class="common flex-item" fxFlex="46" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>
      <mat-icon>info</mat-icon> &nbsp; Common Informations :
    </mat-card-title>
    <mat-card-content *ngIf="common; else spinning">

      <mat-card-subtitle>Hostname :</mat-card-subtitle>
      <mat-card-content>{{ common.hostname }}</mat-card-content>

      <mat-card-subtitle>Uptime :</mat-card-subtitle>
      <mat-card-content>{{ common.uptime.days }} Days, {{ common.uptime.hours }} Hours, {{ common.uptime.minutes }} Minutes and {{ common.uptime.seconds }} Seconds</mat-card-content>

      <mat-card-subtitle>OS Type :</mat-card-subtitle>
      <mat-card-content>{{ common.type }}</mat-card-content>

      <mat-card-subtitle>OS Platform :</mat-card-subtitle>
      <mat-card-content>{{ common.platform }}</mat-card-content>

      <mat-card-subtitle>OS Architecture :</mat-card-subtitle>
      <mat-card-content>{{ common.arch }}</mat-card-content>

      <mat-card-subtitle>OS Realease :</mat-card-subtitle>
      <mat-card-content>{{ common.release }}</mat-card-content>

    </mat-card-content>
  </mat-card>
  <mat-card class="memory flex-item" fxFlex="46" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>
      <mat-icon>memory</mat-icon> &nbsp; Memory :
    </mat-card-title>
    <canvas id="memoryChart"></canvas>
    <mat-card-subtitle>Total Memory :</mat-card-subtitle>
    <mat-card-content>{{ memory.totalMem }} GB</mat-card-content>
    <mat-card-subtitle>Used Memory :</mat-card-subtitle>
    <mat-card-content>{{ memory.usedMem }} GB</mat-card-content>
    <mat-card-subtitle>Free Memory :</mat-card-subtitle>
    <mat-card-content>{{ memory.freeMem }} GB</mat-card-content>
  </mat-card>
  <mat-card class="cpu flex-item" fxFlex="46" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>
      <mat-icon>select_all</mat-icon> &nbsp; Cpu :
    </mat-card-title>
    <canvas id="cpuChart"></canvas>
    <mat-card-subtitle>Cpu Model :</mat-card-subtitle>
    <mat-card-content *ngIf="cpus">{{ cpus[0].model }}</mat-card-content>
    <mat-card-subtitle>Cpu Speed :</mat-card-subtitle>
    <mat-card-content *ngIf="cpus">{{ cpus[0].speed / 1000 }} GHz</mat-card-content>
    <mat-card-subtitle>Cpu Logical Process Units :</mat-card-subtitle>
    <mat-card-content *ngIf="cpus">{{ cpus.length }}</mat-card-content>
  </mat-card>
  <mat-card class="disks flex-item" fxFlex="46" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>
      <mat-icon>dns</mat-icon> &nbsp; Disks :
    </mat-card-title>
    <mat-card-content *ngFor="let disk of disks">
      <mat-card-subtitle>{{ disk.mountpoints[0].path }}</mat-card-subtitle>
      Description : {{ disk.description }}
      <br/>
      Total Size : {{ disk.size }} GB
    </mat-card-content>
  </mat-card>
  <mat-card class="networks flex-item" fxFlex="46" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" *ngIf="networks">
    <mat-card-title><mat-icon>settings_ethernet</mat-icon> &nbsp; Networks :</mat-card-title>
    <mat-card-content *ngFor="let network of networks.Ethernet">
      <mat-card-subtitle *ngIf="network.family === 'IPv4'">Address :</mat-card-subtitle>
      <mat-card-content *ngIf="network.family === 'IPv4'">{{ network.address }}</mat-card-content>
      <mat-card-subtitle *ngIf="network.family === 'IPv4'">Netmask :</mat-card-subtitle>
      <mat-card-content *ngIf="network.family === 'IPv4'">{{ network.netmask }}</mat-card-content>
      <mat-card-subtitle *ngIf="network.family === 'IPv4'">Mac Address :</mat-card-subtitle>
      <mat-card-content *ngIf="network.family === 'IPv4'">{{ network.mac }}</mat-card-content>
      <mat-card-subtitle *ngIf="network.family === 'IPv4'">CIDR :</mat-card-subtitle>
      <mat-card-content *ngIf="network.family === 'IPv4'">{{ network.cidr }}</mat-card-content>
    </mat-card-content>
  </mat-card>

</div>

<ng-template #spinning>
  <mat-progress-spinner class="spinner" color="accent" mode="indeterminate" [diameter]="40" [strokeWidth]="3">
  </mat-progress-spinner>
</ng-template>
